<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/output.css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body
    class="bg-[#F2F2F2] h-screen w-screen flex items-center justify-center font-inter"
  >
    <main class="w-[80%] mx-auto">
      <div class="flex justify-end mb-2 items-center gap-2">
        <input
          type="text"
          placeholder="Search Student Id"
          class="block px-4 py-2 text-sm rounded-md focus:outline-none focus:border border"
        />
        <button
          class="px-4 py-2 text-white bg-[#0383F9] flex gap-2 items-center rounded-md text-sm"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="20"
            height="20"
            color="#ffffff"
            fill="none"
          >
            <path
              d="M12 8V16M16 12L8 12"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22C17.5228 22 22 17.5228 22 12Z"
              stroke="currentColor"
              stroke-width="1.5"
            />
          </svg>
          New Record
        </button>
      </div>
      <table
        class="w-full border bg-white shadow-sm font-inter text-left text-sm"
      >
        <thead class="border-b text-slate-700">
          <tr>
            <th class="px-4 py-2">Student ID</th>
            <th class="px-4 py-2">Name</th>
            <th class="px-4 py-2">Payment Date</th>
            <th class="px-4 py-2">Amount</th>
            <th class="px-4 py-2">Status</th>
            <th class="px-4 py-2">Action</th>
          </tr>
        </thead>
        <tbody class="text-slate-600">
          <tr class="border-b">
            <td class="px-4 py-2">
              <input
                type="text"
                placeholder="Enter Student Id"
                class="focus:outline-none"
              />
            </td>
            <td class="px-4 py-2">
              <input
                type="text"
                placeholder="Enter Name"
                class="focus:outline-none"
              />
            </td>
            <td class="px-4 py-2">
              <input
                type="date"
                placeholder="Student Name"
                class="focus:outline-none"
              />
            </td>
            <td class="px-4 py-2">
              <input
                type="number"
                placeholder="Enter Amount"
                class="focus:outline-none"
              />
            </td>
            <td class="px-4 py-2">
              <select name="cars" id="cars">
                <option value="volvo" class="text-slate-400">
                  Select Status
                </option>
                <option value="saab">Due</option>
                <option value="mercedes">Completed</option>
              </select>
            </td>

            <td class="px-4 py-2 flex gap-4">
              <button>💾</button>
              <button>❌</button>
            </td>
          </tr>
          <tr class="border-b">
            <td class="px-4 py-2">[value-1]</td>
            <td class="px-4 py-2">[value-1]</td>
            <td class="px-4 py-2">[value-1]</td>
            <td class="px-4 py-2">[value-1]</td>
            <td class="px-4 py-2">[value-1]</td>
            <td class="px-4 py-2 flex gap-4">
              <button>✏️</button>
              <button>❌</button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav
        class="bg-white text-left text-sm mt-4 inline-block border border-gray-300 rounded"
      >
        <div class="flex">
          <a
            href="#"
            class="px-4 py-2 hover:bg-gray-50 border-r border-gray-300"
            >Previous</a
          >
          <a
            href="#"
            class="px-4 py-2 hover:bg-gray-50 border-r border-gray-300"
            >1</a
          >
          <a
            href="#"
            class="px-4 py-2 hover:bg-gray-50 border-r border-gray-300"
            >2</a
          >
          <a
            href="#"
            class="px-4 py-2 hover:bg-gray-50 border-r border-gray-300"
            >3</a
          >
          <a href="#" class="px-4 py-2 hover:bg-gray-50">Next</a>
        </div>
      </nav>
    </main>
  </body>
</html>
